<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidar</servlet-name>
        <servlet-class>com.proyecto.Servlet.LoginValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImg</servlet-name>
        <servlet-class>com.proyecto.Servlet.InsertImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpImg</servlet-name>
        <servlet-class>com.proyecto.Servlet.UpImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidar</servlet-name>
        <url-pattern>/LoginValidar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImg</servlet-name>
        <url-pattern>/InsertImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpImg</servlet-name>
        <url-pattern>/UpImg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
