<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidar</servlet-name>
        <servlet-class>com.proyecto.Servlet.LoginValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImg</servlet-name>
        <servlet-class>com.proyecto.Servlet.InsertImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpPrograma</servlet-name>
        <servlet-class>com.proyecto.Servlet.UpPrograma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarItem</servlet-name>
        <servlet-class>com.proyecto.Servlet.ColumnEliminarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>com.proyecto.Servlet.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBanner</servlet-name>
        <servlet-class>com.proyecto.Servlet.AddBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTema</servlet-name>
        <servlet-class>com.proyecto.Servlet.AddTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColumnEliminarCurso</servlet-name>
        <servlet-class>com.proyecto.Servlet.ColumnEliminarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCurso</servlet-name>
        <servlet-class>com.proyecto.Servlet.EliminarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColumnEliminarBanner</servlet-name>
        <servlet-class>com.proyecto.Servlet.ColumnEliminarBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarBanner</servlet-name>
        <servlet-class>com.proyecto.Servlet.EliminarBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColumnaModificar</servlet-name>
        <servlet-class>com.proyecto.Servlet.ColumnaModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItems</servlet-name>
        <servlet-class>com.proyecto.Servlet.UpdateItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTemas</servlet-name>
        <servlet-class>com.proyecto.Servlet.UpdateTemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturarCursos</servlet-name>
        <servlet-class>com.proyecto.Servlet.CapturarCursos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidar</servlet-name>
        <url-pattern>/LoginValidar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImg</servlet-name>
        <url-pattern>/InsertImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpPrograma</servlet-name>
        <url-pattern>/UpPrograma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarItem</servlet-name>
        <url-pattern>/EliminarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBanner</servlet-name>
        <url-pattern>/AddBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTema</servlet-name>
        <url-pattern>/AddTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColumnEliminarCurso</servlet-name>
        <url-pattern>/ColumnEliminarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCurso</servlet-name>
        <url-pattern>/EliminarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColumnEliminarBanner</servlet-name>
        <url-pattern>/ColumnEliminarBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarBanner</servlet-name>
        <url-pattern>/EliminarBanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColumnaModificar</servlet-name>
        <url-pattern>/ColumnaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItems</servlet-name>
        <url-pattern>/UpdateItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTemas</servlet-name>
        <url-pattern>/UpdateTemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturarCursos</servlet-name>
        <url-pattern>/CapturarCursos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
